# This is a template file for the docker-compose .env file
COMPOSE_FILE=docker-compose.yml:docker-compose.https.yml
HASH_SALT=uqU9LvNWDg4e8yFQME72
PROXY_VIRTUAL_HOST=stats.masclet.net
LETSENCRYPT_EMAIL=guillaume@masclet.net
